$cols: 12;
$gutter: 10px;
$border: 1px solid #e1e1e1;
$border2: 2px solid #e2e2e2;
$textColor-6: #666;
$textColor-9: #999;
$textColor-2: #222;
$textColor-3: #333;
$textColor-c: #ccc;
$textColor-b: #bbb;
$primitiveColor: #f6a800;
$secondaryColor: #e1e1e1;
$dropdown-boxShadow: 0 10px 30px 2px rgba(0, 0, 0, 0.2);
$dropdown-boxShadow-2: 0 2px 35px rgba(0,0,0,0.1);
$btnBgHover: #343434;
$respNavColor: #222529;
$whiteColor: #fff;
$blueColor: #0162d2;
$btnBlueBg: #28465c;
